@import 'https://fonts.googleapis.com/css?family=Raleway';

.thidden { visibility: hidden; };
.nav_bar_z_index_reduce { z-index: 11!important; transition: all 0s!important; };
.stuck_body { overflow: hidden; }

@crimson: #FF5274;

* {	margin: 0px; padding: 0px; }

@media (max-width: 769px) {
	#block_1 {
		.navbar {
			background-color: rgb(35, 39, 49);
			.container {						
				border-bottom: none;				
				.navbar-header {												
					margin: 30px!important;
					button {
						z-index: 999999;
					}
				}
				.navbar-collapse {	
			  		padding: 0px!important;				  	
		  	    	position: fixed;
				    height: 100%;
				    width: 100%;
				    top: 0;
				    background-color: #000;
   					opacity: 0.9;
   					z-index: 99999;
   					max-height: 100%;
   					ul.navbar-right {
   						top: 60%;
   					}
				  	ul {				  					  		
					    position: absolute;
					    top: 25%;
					    width: 100%;
					    margin: 0px;
					    .li_sign_up {
				  			margin: 17px 0 0 -2px;
				  			a.sign-up {
								color: @crimson;								
								width: 207px;
				  			}
				  		}	
					    li {
					    	a {
					    		font-weight: bold;
   								line-height: 17px;
   								font-size: 22px!important;
					    	}
					    }
				  	}
				}
			}
		}
		.container_jumbo_1 {			
			padding-top: 120px;
			.jumbo_1 {
				h1 {
					font-size: 48px;
				}
				p {
					font-size: 20px;
				}
			}
			.main_buttons {
				a {
					display: flex;
					width: 210px;
					justify-content: center;
					margin: 0px auto 20px auto;
				}
				.download_link {
					padding: 12px 40px 12px 40px!important;
				}
				.learnmore_link {
					padding: 10px 40px 10px 40px!important;
				}
			}
			.floating_arrow {
				visibility: hidden;
			}			
		}
	}
	#block_2 {
		padding: 50px 0px 20px 0px!important;
		.container {
			.row {
				.block2_box {
					margin-bottom: 35px;
					padding: 0 25px 0 10px;    				
					.problematic_icon {
						margin: 0px 7px 0px 3px!important;
					}
				
				}
			}
		}
	}
	#block_3 {
		.container {
			.row {				
				.block_3-content {	
					padding-top: 65px;					
					.yy.fourth {
						margin-bottom: 87px;
					}
					.main-title {
						padding: 0px 15px 20px 15px;
    					text-align: center;
					}
					.responsive_image {
						display: flex;
    					justify-content: center;
    					img {
    						height: 203px;						    
    					}
					}
				}
			}
		}
		.block_3-img {
			display: none;
		}
	}
	#block_4 {
		.container {
			.row {
				.block_4-content {
					.content {
						margin: 72px 10px 10px 10px;
						div {
							margin: 30px auto 0px auto;
							width: 223px;
						}
					}
					.block_4-responsive-image {
						display: flex;
   						justify-content: center;
   						img {
   							height: 100%;
   							width: 100%;
   							margin: 60px 0px;
   						}
					}
				}								
			}
		}
		.block_4-img {
			display: none;
		}
	}
	#block_5 {
		min-height: 615px!important;		
	}
	#block_6 {
		.container1 {
			padding: 148px 15px 20px 15px!important;
			.row {
				div {
					padding-left: 30px;
				}
			}
		}
		.container2 {
			.row {
				div {
					padding: 0px 40px 15px 30px;															
				}
			}
		}
	}
	#block_7 {
		.container3 {
			padding-top: 40px;
			padding-bottom: 30px;
			.row {
				.col-md-4 {
					p {
						&:nth-child(2) {
							padding-top: 20px!important;
						}
					}
				}
			}
			.row2_block7 {
				padding: 17px 0px 50px 0px!important;
			}
		}
	}
	#block_8 {
		.container.slider {				
    		padding: 0;				
			.carousel {					
				.carousel-indicators {	
					bottom: 0px;					
				}
				.carousel-inner {									
					.item {
						height: 450px; 					
						.carousel-caption {	
							right: 7%;
							left: 7%;	
							top: 20px;	
							h1 {								
								padding: 10px 0px;
								letter-spacing: 1px;
							}
							p {								
								font-size: 12px;
								letter-spacing: 1px;
							}
						}
					}
				}									
			}
		}
	}
	#block_9 {
		.button-div {
			margin: 0 auto;
			width: 83%;
			float:none;
		}
	}
	#to-top-block {
		.cd-top {
			margin: 0!important;
		    right: 0;
			position: absolute;
		}
	}
	footer {
		.footer-container {
			padding-top: 80px;
    		padding-bottom: 70px;
			.row {
				.col-md-7 {
					.footer-menu {						
						div {
							margin-bottom: 20px;
							padding-bottom: 15px;
							border-bottom: 1px dashed #4E566C;
						}
					}
					.copyright {
						
					}
				}
				.i2222 {
			    	display: none!important;
				}	
			}
		}		
	}
}
@media (min-width: 770px) {
	#block_1 {
		.navbar {
			.container {			
				.navbar-header {
					.navbar-brand {
						margin: 35px 35px 0px -30px;
					}
				}
				.navbar-collapse {
					padding: 35px 0px 35px 0px;
				}
			}
		}
		.container_jumbo_1 {
			padding-top: 240px;
			.jumbo_1 {
				padding: 0px 95px 0 95px;
				margin-bottom: 120px;
				p {
					font-size: 20px;
				}
			}
			.main_buttons {
				    margin-bottom: 100px;
				.download_link {
					margin-right: 13px;
				}
			}
			@keyframes floating_arrow {
				0% { transform: translateY(0px); }
				50% { transform: translateY(25px); }
				100% { transform: translateY(0px); }
			}
			.floating_arrow {
				height: 50px;
			    display: flex;
			    justify-content: center;
			    div {
			    	animation: 2000ms floating_arrow infinite alternate ease-in-out;
			    	a {
			    		transform:  rotate(90deg)
									scaleY(1.5);
						text-decoration: none;
						color:white;
						position: absolute;
						font-size: 25px;
						font-weight: bold;
			    	}
			    }
			} 
		}
	}
	#block_3 {
		overflow: hidden;
		position: relative;		
	    display: flex;	   
	    align-items: center;
		.container {
			.row {				
				.block_3-content {					
					.yy {
						&:not(:first-child) {							
							margin: 13px 0px;
						}
					}
					.main-title {
						margin-bottom: 30px;
					}
					.responsive_image {
						display: none;
					}
				}
			}
		}
		.block_3-img {			
			position: absolute; 			
		    bottom: -400px;
		    right: 60%;
		    .tablet {
		    	position: relative;
		    }
		    .phone {
		    	position: absolute;			    
			    right: -117px;
			    bottom: 171px;
		    }
			.tablet-anim {
				animation: tablet-animation 2s ease 1 both;
			} 
			@keyframes tablet-animation {
			  from {top: 604px;; opacity: 0;}
			    to {top: 0px; opacity: 1;}
			}  
			.phone-anim {
				animation: phone-animation 2s ease-in 1 both;
			}
			@keyframes phone-animation {
			  from {bottom: -219px; opacity: 0;}
			    to {bottom: 171px; opacity: 1;}
			}
		}
	}
	#block_4 {
		.container {
			.row {
				.block_4-content {
					.content {						
						div {
							margin-top: 50px;
						}
					}
					.block_4-responsive-image {
						display: none;
					}
				}				
			}
		}		
	}
	#block_5 {
		.jumbo_5 {
			padding-top: 90px;
		}
	}
	#block_6 {
		.container2 {
			.row {
				div {					
					&:first-child {
						padding-right: 122px;
						border-right: solid 1px #E6E9EA;
					}
					&:last-child {
						padding-left: 122px;
					}
				}
			}
		}
	}
	#block_8 {
		.container.slider {					
			.carousel {					
				.carousel-indicators {	
					bottom: -60px;
				}
				.carousel-inner {						
					.item {
						.carousel-caption {	
							left: 0;
							right: 0;					
							img {							
							}
							h1 {								
								padding: 20px 0px;
								letter-spacing: 2px;
							}
							p {								
								font-size: 15px;
								letter-spacing: 2px;
							}
						}
					}
				}					
			}
		}
	}
	#block_9 {
		.button-div {
			margin: 0 0 0 59px;
    		width: 80%;    		
		}
	}
	footer {	
		display: flex;
    	align-items: center;
		.footer-container {
			.row {
				.col-md-7 {
					margin-top: 123px;
    				.footer-menu {
    					padding: 25px 10px 25px 0px;
    					display: inline-flex;
    					border-top: solid 1px #4E566C;
    					div {
    						margin-right: 25px;
    					}
    				}
    				.copyright {
    					padding-left: 0;
    				}
				}
				.i2222 {
					height: 100%;
				    width: 40%;
				    max-height: 409px;
				    background-color: #373D4A;
				    display: flex;
				    align-items: center;
				    position: absolute;
				    right: 0;
					.share_with_friends {
						margin-left: 50px;
						p {
						color: #fff;
						text-transform: uppercase;
						font-size: 13px;
						margin-bottom: 24px;
						}
						a {
						    height: 60px;
						    width: 60px;
						    background-color: #1AB4EF;
						    border-radius: 3px;
						    font-size: 22px;
						    display: inline-block;
						    text-align: center;
						    margin-right: 20px;
						    transition: opacity 500ms;
						    &:hover {
						    	opacity: 0.8;
						    }
						    i {
						    	margin-top: 20px;
						    	color: #fff;
						    }
						}
						.fb_share {
							background-color: #3B5898;
						}
					}
				}
			}
		}			
	}
}


body {
	.fullhouse {
		height: 100%;
		width: 100%;
		background: url('../img/fancybox_overlay.png');		
		overflow: hidden;
		z-index: 200;
		position: fixed;
		top: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		overflow-y: scroll;
		.row {
			.kartinkaPOcentri {
			position: relative;
				span {
			    	background-color: rgba(0, 0, 0, 0.9);
			    	color: white;
			    	border-radius: 30px;
			    	font-size: 33px;
			    	cursor: pointer;
		    	    position: absolute;
				    top: -14px;
				    right: 0;
				}   
				.wemenwe {				
					background-color: white;
					box-shadow: 0px 0px 17px 3px black;
					height: 308px;
					width: 543px;			
					background-color: white;	
					border-radius: 4px;					
					cursor: default;
					border: 5px solid white;
				}
			}
		}
	}
	font-family: 'Raleway', sans-serif !important;
    .wrapper {
    	#block_1 {
    		min-height: 750px;
			background: url('../img/block_1-main.jpg') no-repeat center center;
			background-size: cover;
			.navbar {
				transition: all 0.5s;
				.container {					
				  	border-bottom: 1px solid rgba(255, 255, 255, 0.2);	
				  	text-align: center;
				  	.navbar-header {
				  		transition: all 0.5s;
				  		margin: 0px;
				  	}				  	
				  	.navbar-collapse {
				  		transition: all 0.5s			  		
				  	}		  		  	
				  	a {
					  	text-decoration: none;
						color: rgba(255, 255, 255, 0.9);
						font-size: 13px;
						text-transform: uppercase;
						transition: color 0.3s 0.1s;
						&:hover {
							color: #CD5C5C;
						}
				  	}
				  	.li_sign_up {
						display: flex;
						justify-content: center;
						padding: 5px;
				  	}
				  	.sign-up {
				  		width: 137px;
					    border: 2px solid;						    
					    border-radius: 20px;
					    padding: 7px 0px 7px 0px;
					    margin: 0 0 0 -2px;
					    text-align: center;
					    transition: border-color .5s,
					    			color .5s;
				  	}
				}
			}
			.container_jumbo_1 {
				text-align: center;
				.jumbo_1 {
					background: none;
					color:white;
					h1 {
						margin-bottom: 35px;
					}
				}
				 .main_buttons {
					a {
						/* height: 220px;
						width: 250px; */
						border: 1px solid gray;
						color: white;
						text-transform: uppercase;
						text-decoration: none;
						border: 3px solid;
						border-color: @crimson;
						border-radius: 27px;
						text-align: center;
						font-size: 13px;
						padding: 15px 40px 15px 40px;
						cursor: pointer;
					}
					.download_link {						
						background-color: @crimson;
						font-weight: 500;
						letter-spacing: 0.5px;
						border: none;
						padding: 18px 43px 18px 43px;
						transition: background-color 0.3s ease-out;
						&:hover {
							background-color: rgba(255, 82,116, 0.7);
						}
					}
					.learnmore_link {
						color: @crimson;
						transition: background-color 0.3s ease-out,
									color 0.3s ease-out;
						&:hover {
							background-color: @crimson;
							color:white;
						}
					}
				}	 
			}
    	}

    	#block_2 {
    		min-height: 422px;
			background-color: #fff;	
			display: flex;
		    align-items: center;
		    justify-content: center;			
			.container {
				.row {
					.block2_box {
					display: inline-flex;
					align-items: flex-start;
    				justify-content: center;
					h5 {
						font-size: 15px;
					    color: #3D4351;
					    text-transform: uppercase;
					    font-weight: bold;
					    margin: 10px 0px 10px 0px;
					}	
					p {
						font-size: 15px;
					    line-height: 30px;
					    color: rgba(28, 54, 83, 0.8);	
					    margin: 0;				    
					}				
					.feature-icon [data-icon]:before {
						font-size: 40px;
					    color: @crimson;
					    margin: 12px 23px 20px 10px;
						font-family: 'et-line';
					    content: attr(data-icon);
					}
				}
				}
			}		
    	}

    	#block_3 {
    		min-height: 785px;
			background-color:#F3F4F8;
			.feature-icon [data-icon]:before {
				height: 40px;
				width: 40px;
				font-size: 35px;
			    color: @crimson;
			    margin: 20px;
				font-family: 'et-line';
			    content: attr(data-icon);
			    text-align: center;
			}
			.container {
				.row {
					.block_3-img {}
					.block_3-content {						
						.yy {
							p {
								font-size: 15px;
							    line-height: 29px;
							    color: rgba(28, 54, 83, 0.6);
							}
							h2 {
								font-size: 15px;
							    line-height: 29px;	
							    margin-top: 12px;						    
							}
							&:not(:first-child) {
								display: flex;
								justify-content: flex-start;							    
							    /* div {
							    	&:last-child {
							    		padding-top: 10px;
							    	}
							    } */
							}
						}
						.second, .third {
							border-bottom: 1px solid #E6E9EA;
						}
						.main-title {							
							h1 {
								color:#3D4351;
								font-size: 24px;
								padding-bottom: 15px;
							}
						}
					}
				}
			}
    	}

    	#block_4 {
    		min-height: 656px;
			background-color: #fff;
			overflow: hidden;
			position: relative;			
		    display: flex;		    
		    align-items: center;
			.container {
				.row {
					.block_4-content {							
						.content {							
							h1 {
								font-size: 29px;
							    margin-bottom: 30px;
							    color: #3D4351;
							}
							p {
								font-size: 15px;
							    line-height: 30px;
							    color: rgba(28, 54, 83, 0.6);
							    margin: 0px 0px 35px;
							}							
							a {
								text-transform: uppercase;
								text-decoration: none;
								border: 3px solid @crimson;
								border-radius: 27px;
								text-align: center;
								font-size: 13px;
								padding: 13px 50px 13px 50px;
								cursor: pointer;
								color: @crimson;
								transition: background-color 0.4s ease-out;
								font-weight: bold;
								&:hover {
									color: #fff;
									background-color: @crimson;
								}
							}
						}					
					}					
				}
			}
			.block_4-img {
				position: absolute;
				background: url('../img/macbook-pro.png') no-repeat center center;
			    width: 916px;
				height: 540px;
				left: 50%;
			}
			.macbookpro-anim {
				animation: macbookpro_anim 2s ease-in 1 both;
			}
			@keyframes macbookpro_anim {
			  from {left: 94%; opacity: 0;}
			    to {left: 50%; opacity: 1;}
			}

    	}

    	#block_5 {
    		min-height: 495px;
			background: url('../img/block_5-bg.jpg') no-repeat center center;
			background-size: cover;	
			.container {
				position: relative;
				.jumbo_5 {
					background: none;
					h1 {
						color: white;
						font-size: 40px;
						text-align: center;
						margin-bottom: 27px;
						sup {
							color: orange;
							font-size: 27px;
						}
					}
					p {
						color: #ACB1B4;
						text-align: center;
						font-size: 15px;
						margin-bottom: 70px;
					}
					div {
						text-align: center;
						a {
							border: 1px solid gray;						
							text-transform: uppercase;
							text-decoration: none;
							border: 3px solid;
							border-color: @crimson;
							border-radius: 27px;
							text-align: center;
							font-size: 13px;
							padding: 15px 40px 15px 40px;
							cursor: pointer;
							color: @crimson;
							transition: background-color 0.3s ease-out,
										color 0.3s ease-out;
							&:hover {
								background-color: @crimson;
								color:white;
							}
						}
					}
				}
				.sketch-logo-div {
					margin: 0 auto;
    				width: 230px;
					img {
						animation: 3000ms floating_logo infinite alternate ease-in-out;
   						position: absolute;
					}
				}
				@keyframes floating_logo {
					0% { transform: translateY(0px); }
					50% { transform: translateY(30px); }
					100% { transform: translateY(0px); }
				}				
			}

    	}

    	#block_6 {
    		min-height: 607px;
			background-color: #F3F4F8;
			.container1 {
				padding: 210px 15px 50px 15px;
				.row {
					div {
						h1 {
							font-size: 25px;
						}
					}
				}
			}
			.container2 {
				.row {
					h2 {
						font-size: 15px;
					}
					p {
						color: rgba(28, 54, 83, 0.6);
	    				line-height: 30px;
					}					
				}
			}
    	}

    	#block_7 {
    		min-height: 544px;
			background-color: #F3F4F8;
			display: flex;
    		align-items: flex-start;
    		text-align: center;
    		.container3 {
    			.row {
    				.col-md-4 {    					
    					div {
    						overflow: hidden;  
    						display: flex;
    						justify-content: center;
    						align-items: center;
    						img {
    							height: 251px;   
    							transition: all 0.5s ease-out;  
    							cursor: pointer;							   							     													
    						}
    						.hover-stuff {
    							transform: scale(1.20);  
    							filter: opacity(40%);
    						}    						
    						.feature-icon {
    							position: absolute;
							    top: 7px;
   								right: 20px;
   								opacity: 0;
   								transition: all 0.5s ease-out;
   								cursor: pointer;  
   								[data-icon]:before {
									font-size: 16px;
								    color: white;
								    margin: 12px 23px 20px 10px;
									font-family: 'et-line';
								    content: attr(data-icon);								    		
								    z-index: 300; 	
								    cursor: pointer;
								}  
    						}    						 														
    					}
    					p {
    						a {
    							text-decoration: none;
    							color: rgba(28, 54, 83, 0.6); 
    							span {
    								font-size: 10px;
    								right: -4px;
    							}   							   							
    						}
    						.title {
    							color: @crimson;
    							transition: all 500ms;      							  							
    						}    
    						.descr {
    							transition: all 500ms;
    							&:hover {
									color: #000;
    							}
    						}						
							&:nth-child(2) {
								padding-top: 39px;								
								font-size: 11px;
   								font-weight: bold;
							}
							&:last-child {
								padding-bottom: 39px;								
							}
						}	
    				}    				
    			}
    			.row2_block7 {
    				padding: 17px 0px 0px 0px;
    				.button-morenews {
						text-align: center;
						a {
							border: 1px solid gray;						
							text-transform: uppercase;
							text-decoration: none;
							border: 2px solid;
							border-color: @crimson;
							border-radius: 27px;
							text-align: center;
							font-size: 13px;
							padding: 11px 40px 11px 40px;
							cursor: pointer;
							color: @crimson;
							transition: background-color 0.3s ease-out,
										color 0.3s ease-out;
							&:hover {
								background-color: @crimson;
								color:white;
							}
						}
					}
    			}
    		}
    	}    	

    	#block_8 {
    		min-height: 525px;
			background: url('../img/block_8-bg.jpg') no-repeat center center;
			background-size: cover;	
		    display: flex;
		    align-items: center;
		    justify-content: center;		    
			.container.slider {
				width: 1300px;				
				.carousel {					
					.carousel-indicators {						
						.active {
							border: 2px solid #fff;
							background-color: rgba(255, 255, 255, 0);	
						}
						li {
							background-color: rgba(92, 95, 106, 1);							
							margin: 0 5px;
							height: 12px;
							width: 12px;
							border: none;
							transition: background-color 500ms;
							&:hover {
								background-color: #fff;
							}
						}
					}
					.carousel-inner {						
						.item {
							.no_use_bg_images {
							    visibility: hidden;
							}
							.carousel-caption {
								padding-bottom: 50px;								
								img {
									height: 100px;
								    border-radius: 64px;
									border: 3px solid white;
								}
								h1 {
									font-style: italic;									
								}
								p {
									color: #ACB1B4;									
								}
							}
						}
					}
					.carousel-control {
						background-image: none;
						width: 7%;
						opacity: 0;						
						transition: all 500ms;						
					}					
				}
			}
		}

    	#block_9 {
    		min-height: 547px;
			background-color: #fff;
			display: flex;
		    justify-content: center;
		    align-items: center;
			.container {
				text-align: center;
				.row {
				    display: flex;
					justify-content: center;
					.title_and_descr {
						h3 {
							font-size: 24px;
						    margin-bottom: 20px;
						    color: #3D4351;
						}
						p {
						    font-size: 15px;
						    line-height: 29px;
						    color: rgba(28, 54, 83, 0.6);
						    padding-bottom: 20px;
						}
					}					
				}
				.row {
					.block_9_align {
						.form-horizontal {
							.form-group {
								.input-group {
									margin: 0 auto 20px auto;
									.input-group-addon {
										padding: 16px 19px;
										color: @crimson;
										background-color: transparent;
										border: solid 1px #E6E9EA;
									}
									.form-control {
										padding: 24px 18px;
										border: solid 1px #E6E9EA;
										border-left: none;
									}
								}
								.button-div {									
    								button {
    									border-radius: 2px;
    									background-color: @crimson;
    									border: none;
    									padding: 21px 16px;
    									font-size: 12px;
    									text-transform: uppercase;    									
    								}
								}
							}
						}
					}
				}
			}
    	}

    	#to-top-block {
    		min-height: 60px;
			background-color: #495061;
			display: flex;
		    justify-content: flex-end;		    
			.cd-top {				
			  	height: 60px;
			  	width: 67px; 	
			  	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
			  	// margin-right: 130px;
			  	overflow: hidden;
			  	text-indent: 150%;			  	
			  	background: rgba(0, 0, 0, 0.15) url(../img/cd-top-arrow.svg) no-repeat center 50%;			  	
			  	-webkit-transition: all .3s 0s, visibility 0s .3s;
			  	-moz-transition: all .3s 0s, visibility 0s .3s;
			  	transition: all .3s 0s, visibility 0s .3s;
			  	&:hover {
			  		background: rgba(0, 0, 0, 0.4) url(../img/cd-top-arrow.svg) no-repeat center 50%;
			  	}
			}
    	}
    	footer {
    		min-height: 409px;
			background-color: #3D4351;
			.footer-container {
				.row {
					display: flex;
					.col-md-7 {						
						.footer-menu {							
							margin-bottom: 25px;						
							div {								
								a {
									color: #fff;
									text-decoration: none;
									transition: color 500ms;
									font-size: 13px;
    								text-transform: uppercase;
									&:hover {
										color: @crimson;
									}
								}
							}
						}
						.copyright {							
							p {
								color: #ACB1B4;
    							font-size: 13px;
    							.fa-heart {    								 
								    color: #ff415c;
								    font-size: 14px;
							        width: 20px;    
									text-align: center;	
									animation: 1s scaling_heart infinite alternate linear;							
    							}
    							@keyframes scaling_heart {
									0% { transform: scale(1.3); }
									50% { transform: scale(1.15); }
									100% { transform: scale(1); }
								}
    							a {
    								color: #fff;
    								text-decoration: none;
    								transition: color 500ms;
    								&:hover {
    									color: @crimson;
    								}
    							}
							}
						}
					}										
				}				
			}

    	}

    }
}