@import 'https://fonts.googleapis.com/css?family=Raleway';
.thidden {
  visibility: hidden;
}
.nav_bar_z_index_reduce {
  z-index: 11!important;
  transition: all 0s!important;
}
.stuck_body {
  overflow: hidden;
}
* {
  margin: 0px;
  padding: 0px;
}
@media (max-width: 769px) {
  #block_1 .navbar {
    background-color: #232731;
  }
  #block_1 .navbar .container {
    border-bottom: none;
  }
  #block_1 .navbar .container .navbar-header {
    margin: 30px!important;
  }
  #block_1 .navbar .container .navbar-header button {
    z-index: 999999;
  }
  #block_1 .navbar .container .navbar-collapse {
    padding: 0px!important;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #000;
    opacity: 0.9;
    z-index: 99999;
    max-height: 100%;
  }
  #block_1 .navbar .container .navbar-collapse ul.navbar-right {
    top: 60%;
  }
  #block_1 .navbar .container .navbar-collapse ul {
    position: absolute;
    top: 25%;
    width: 100%;
    margin: 0px;
  }
  #block_1 .navbar .container .navbar-collapse ul .li_sign_up {
    margin: 17px 0 0 -2px;
  }
  #block_1 .navbar .container .navbar-collapse ul .li_sign_up a.sign-up {
    color: #ff5274;
    width: 207px;
  }
  #block_1 .navbar .container .navbar-collapse ul li a {
    font-weight: bold;
    line-height: 17px;
    font-size: 22px!important;
  }
  #block_1 .container_jumbo_1 {
    padding-top: 120px;
  }
  #block_1 .container_jumbo_1 .jumbo_1 h1 {
    font-size: 48px;
  }
  #block_1 .container_jumbo_1 .jumbo_1 p {
    font-size: 20px;
  }
  #block_1 .container_jumbo_1 .main_buttons a {
    display: flex;
    width: 210px;
    justify-content: center;
    margin: 0px auto 20px auto;
  }
  #block_1 .container_jumbo_1 .main_buttons .download_link {
    padding: 12px 40px 12px 40px!important;
  }
  #block_1 .container_jumbo_1 .main_buttons .learnmore_link {
    padding: 10px 40px 10px 40px!important;
  }
  #block_1 .container_jumbo_1 .floating_arrow {
    visibility: hidden;
  }
  #block_2 {
    padding: 50px 0px 20px 0px!important;
  }
  #block_2 .container .row .block2_box {
    margin-bottom: 35px;
    padding: 0 25px 0 10px;
  }
  #block_2 .container .row .block2_box .problematic_icon {
    margin: 0px 7px 0px 3px!important;
  }
  #block_3 .container .row .block_3-content {
    padding-top: 65px;
  }
  #block_3 .container .row .block_3-content .yy.fourth {
    margin-bottom: 87px;
  }
  #block_3 .container .row .block_3-content .main-title {
    padding: 0px 15px 20px 15px;
    text-align: center;
  }
  #block_3 .container .row .block_3-content .responsive_image {
    display: flex;
    justify-content: center;
  }
  #block_3 .container .row .block_3-content .responsive_image img {
    height: 203px;
  }
  #block_3 .block_3-img {
    display: none;
  }
  #block_4 .container .row .block_4-content .content {
    margin: 72px 10px 10px 10px;
  }
  #block_4 .container .row .block_4-content .content div {
    margin: 30px auto 0px auto;
    width: 223px;
  }
  #block_4 .container .row .block_4-content .block_4-responsive-image {
    display: flex;
    justify-content: center;
  }
  #block_4 .container .row .block_4-content .block_4-responsive-image img {
    height: 100%;
    width: 100%;
    margin: 60px 0px;
  }
  #block_4 .block_4-img {
    display: none;
  }
  #block_5 {
    min-height: 615px!important;
  }
  #block_6 .container1 {
    padding: 148px 15px 20px 15px!important;
  }
  #block_6 .container1 .row div {
    padding-left: 30px;
  }
  #block_6 .container2 .row div {
    padding: 0px 40px 15px 30px;
  }
  #block_7 .container3 {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  #block_7 .container3 .row .col-md-4 p:nth-child(2) {
    padding-top: 20px!important;
  }
  #block_7 .container3 .row2_block7 {
    padding: 17px 0px 50px 0px!important;
  }
  #block_8 .container.slider {
    padding: 0;
  }
  #block_8 .container.slider .carousel .carousel-indicators {
    bottom: 0px;
  }
  #block_8 .container.slider .carousel .carousel-inner .item {
    height: 450px;
  }
  #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption {
    right: 7%;
    left: 7%;
    top: 20px;
  }
  #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption h1 {
    padding: 10px 0px;
    letter-spacing: 1px;
  }
  #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption p {
    font-size: 12px;
    letter-spacing: 1px;
  }
  #block_9 .button-div {
    margin: 0 auto;
    width: 83%;
    float: none;
  }
  #to-top-block .cd-top {
    margin: 0!important;
    right: 0;
    position: absolute;
  }
  footer .footer-container {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  footer .footer-container .row .col-md-7 .footer-menu div {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #4E566C;
  }
  footer .footer-container .row .i2222 {
    display: none!important;
  }
}
@media (min-width: 770px) {
  #block_1 .navbar .container .navbar-header .navbar-brand {
    margin: 35px 35px 0px -30px;
  }
  #block_1 .navbar .container .navbar-collapse {
    padding: 35px 0px 35px 0px;
  }
  #block_1 .container_jumbo_1 {
    padding-top: 240px;
  }
  #block_1 .container_jumbo_1 .jumbo_1 {
    padding: 0px 95px 0 95px;
    margin-bottom: 120px;
  }
  #block_1 .container_jumbo_1 .jumbo_1 p {
    font-size: 20px;
  }
  #block_1 .container_jumbo_1 .main_buttons {
    margin-bottom: 100px;
  }
  #block_1 .container_jumbo_1 .main_buttons .download_link {
    margin-right: 13px;
  }
  @keyframes floating_arrow {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  #block_1 .container_jumbo_1 .floating_arrow {
    height: 50px;
    display: flex;
    justify-content: center;
  }
  #block_1 .container_jumbo_1 .floating_arrow div {
    animation: 2000ms floating_arrow infinite alternate ease-in-out;
  }
  #block_1 .container_jumbo_1 .floating_arrow div a {
    transform: rotate(90deg) scaleY(1.5);
    text-decoration: none;
    color: white;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
  }
  #block_3 {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }
  #block_3 .container .row .block_3-content .yy:not(:first-child) {
    margin: 13px 0px;
  }
  #block_3 .container .row .block_3-content .main-title {
    margin-bottom: 30px;
  }
  #block_3 .container .row .block_3-content .responsive_image {
    display: none;
  }
  #block_3 .block_3-img {
    position: absolute;
    bottom: -400px;
    right: 60%;
  }
  #block_3 .block_3-img .tablet {
    position: relative;
  }
  #block_3 .block_3-img .phone {
    position: absolute;
    right: -117px;
    bottom: 171px;
  }
  #block_3 .block_3-img .tablet-anim {
    animation: tablet-animation 2s ease 1 both;
  }
  @keyframes tablet-animation {
    from {
      top: 604px;
      opacity: 0;
    }
    to {
      top: 0px;
      opacity: 1;
    }
  }
  #block_3 .block_3-img .phone-anim {
    animation: phone-animation 2s ease-in 1 both;
  }
  @keyframes phone-animation {
    from {
      bottom: -219px;
      opacity: 0;
    }
    to {
      bottom: 171px;
      opacity: 1;
    }
  }
  #block_4 .container .row .block_4-content .content div {
    margin-top: 50px;
  }
  #block_4 .container .row .block_4-content .block_4-responsive-image {
    display: none;
  }
  #block_5 .jumbo_5 {
    padding-top: 90px;
  }
  #block_6 .container2 .row div:first-child {
    padding-right: 122px;
    border-right: solid 1px #E6E9EA;
  }
  #block_6 .container2 .row div:last-child {
    padding-left: 122px;
  }
  #block_8 .container.slider .carousel .carousel-indicators {
    bottom: -60px;
  }
  #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption {
    left: 0;
    right: 0;
  }
  #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption h1 {
    padding: 20px 0px;
    letter-spacing: 2px;
  }
  #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption p {
    font-size: 15px;
    letter-spacing: 2px;
  }
  #block_9 .button-div {
    margin: 0 0 0 59px;
    width: 80%;
  }
  footer {
    display: flex;
    align-items: center;
  }
  footer .footer-container .row .col-md-7 {
    margin-top: 123px;
  }
  footer .footer-container .row .col-md-7 .footer-menu {
    padding: 25px 10px 25px 0px;
    display: inline-flex;
    border-top: solid 1px #4E566C;
  }
  footer .footer-container .row .col-md-7 .footer-menu div {
    margin-right: 25px;
  }
  footer .footer-container .row .col-md-7 .copyright {
    padding-left: 0;
  }
  footer .footer-container .row .i2222 {
    height: 100%;
    width: 40%;
    max-height: 409px;
    background-color: #373D4A;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
  }
  footer .footer-container .row .i2222 .share_with_friends {
    margin-left: 50px;
  }
  footer .footer-container .row .i2222 .share_with_friends p {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 24px;
  }
  footer .footer-container .row .i2222 .share_with_friends a {
    height: 60px;
    width: 60px;
    background-color: #1AB4EF;
    border-radius: 3px;
    font-size: 22px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    transition: opacity 500ms;
  }
  footer .footer-container .row .i2222 .share_with_friends a:hover {
    opacity: 0.8;
  }
  footer .footer-container .row .i2222 .share_with_friends a i {
    margin-top: 20px;
    color: #fff;
  }
  footer .footer-container .row .i2222 .share_with_friends .fb_share {
    background-color: #3B5898;
  }
}
body {
  font-family: 'Raleway', sans-serif !important;
}
body .fullhouse {
  height: 100%;
  width: 100%;
  background: url('../img/fancybox_overlay.png');
  overflow: hidden;
  z-index: 200;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow-y: scroll;
}
body .fullhouse .row .kartinkaPOcentri {
  position: relative;
}
body .fullhouse .row .kartinkaPOcentri span {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 30px;
  font-size: 33px;
  cursor: pointer;
  position: absolute;
  top: -14px;
  right: 0;
}
body .fullhouse .row .kartinkaPOcentri .wemenwe {
  box-shadow: 0px 0px 17px 3px black;
  height: 308px;
  width: 543px;
  background-color: white;
  border-radius: 4px;
  cursor: default;
  border: 5px solid white;
}
body .wrapper #block_1 {
  min-height: 750px;
  background: url('../img/block_1-main.jpg') no-repeat center center;
  background-size: cover;
}
body .wrapper #block_1 .navbar {
  transition: all 0.5s;
}
body .wrapper #block_1 .navbar .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
body .wrapper #block_1 .navbar .container .navbar-header {
  transition: all 0.5s;
  margin: 0px;
}
body .wrapper #block_1 .navbar .container .navbar-collapse {
  transition: all 0.5s;
}
body .wrapper #block_1 .navbar .container a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  text-transform: uppercase;
  transition: color 0.3s 0.1s;
}
body .wrapper #block_1 .navbar .container a:hover {
  color: #CD5C5C;
}
body .wrapper #block_1 .navbar .container .li_sign_up {
  display: flex;
  justify-content: center;
  padding: 5px;
}
body .wrapper #block_1 .navbar .container .sign-up {
  width: 137px;
  border: 2px solid;
  border-radius: 20px;
  padding: 7px 0px 7px 0px;
  margin: 0 0 0 -2px;
  text-align: center;
  transition: border-color 0.5s, color 0.5s;
}
body .wrapper #block_1 .container_jumbo_1 {
  text-align: center;
}
body .wrapper #block_1 .container_jumbo_1 .jumbo_1 {
  background: none;
  color: white;
}
body .wrapper #block_1 .container_jumbo_1 .jumbo_1 h1 {
  margin-bottom: 35px;
}
body .wrapper #block_1 .container_jumbo_1 .main_buttons a {
  /* height: 220px;
						width: 250px; */
  border: 1px solid gray;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  border-color: #ff5274;
  border-radius: 27px;
  text-align: center;
  font-size: 13px;
  padding: 15px 40px 15px 40px;
  cursor: pointer;
}
body .wrapper #block_1 .container_jumbo_1 .main_buttons .download_link {
  background-color: #ff5274;
  font-weight: 500;
  letter-spacing: 0.5px;
  border: none;
  padding: 18px 43px 18px 43px;
  transition: background-color 0.3s ease-out;
}
body .wrapper #block_1 .container_jumbo_1 .main_buttons .download_link:hover {
  background-color: rgba(255, 82, 116, 0.7);
}
body .wrapper #block_1 .container_jumbo_1 .main_buttons .learnmore_link {
  color: #ff5274;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
body .wrapper #block_1 .container_jumbo_1 .main_buttons .learnmore_link:hover {
  background-color: #ff5274;
  color: white;
}
body .wrapper #block_2 {
  min-height: 422px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrapper #block_2 .container .row .block2_box {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}
body .wrapper #block_2 .container .row .block2_box h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px 10px 0px;
}
body .wrapper #block_2 .container .row .block2_box p {
  font-size: 15px;
  line-height: 30px;
  color: rgba(28, 54, 83, 0.8);
  margin: 0;
}
body .wrapper #block_2 .container .row .block2_box .feature-icon [data-icon]:before {
  font-size: 40px;
  color: #ff5274;
  margin: 12px 23px 20px 10px;
  font-family: 'et-line';
  content: attr(data-icon);
}
body .wrapper #block_3 {
  min-height: 785px;
  background-color: #F3F4F8;
}
body .wrapper #block_3 .feature-icon [data-icon]:before {
  height: 40px;
  width: 40px;
  font-size: 35px;
  color: #ff5274;
  margin: 20px;
  font-family: 'et-line';
  content: attr(data-icon);
  text-align: center;
}
body .wrapper #block_3 .container .row .block_3-content .yy p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
}
body .wrapper #block_3 .container .row .block_3-content .yy h2 {
  font-size: 15px;
  line-height: 29px;
  margin-top: 12px;
}
body .wrapper #block_3 .container .row .block_3-content .yy:not(:first-child) {
  display: flex;
  justify-content: flex-start;
  /* div {
							    	&:last-child {
							    		padding-top: 10px;
							    	}
							    } */
}
body .wrapper #block_3 .container .row .block_3-content .second,
body .wrapper #block_3 .container .row .block_3-content .third {
  border-bottom: 1px solid #E6E9EA;
}
body .wrapper #block_3 .container .row .block_3-content .main-title h1 {
  color: #3D4351;
  font-size: 24px;
  padding-bottom: 15px;
}
body .wrapper #block_4 {
  min-height: 656px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
body .wrapper #block_4 .container .row .block_4-content .content h1 {
  font-size: 29px;
  margin-bottom: 30px;
  color: #3D4351;
}
body .wrapper #block_4 .container .row .block_4-content .content p {
  font-size: 15px;
  line-height: 30px;
  color: rgba(28, 54, 83, 0.6);
  margin: 0px 0px 35px;
}
body .wrapper #block_4 .container .row .block_4-content .content a {
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #ff5274;
  border-radius: 27px;
  text-align: center;
  font-size: 13px;
  padding: 13px 50px 13px 50px;
  cursor: pointer;
  color: #ff5274;
  transition: background-color 0.4s ease-out;
  font-weight: bold;
}
body .wrapper #block_4 .container .row .block_4-content .content a:hover {
  color: #fff;
  background-color: #ff5274;
}
body .wrapper #block_4 .block_4-img {
  position: absolute;
  background: url('../img/macbook-pro.png') no-repeat center center;
  width: 916px;
  height: 540px;
  left: 50%;
}
body .wrapper #block_4 .macbookpro-anim {
  animation: macbookpro_anim 2s ease-in 1 both;
}
@keyframes macbookpro_anim {
  from {
    left: 94%;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}
body .wrapper #block_5 {
  min-height: 495px;
  background: url('../img/block_5-bg.jpg') no-repeat center center;
  background-size: cover;
}
body .wrapper #block_5 .container {
  position: relative;
}
body .wrapper #block_5 .container .jumbo_5 {
  background: none;
}
body .wrapper #block_5 .container .jumbo_5 h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 27px;
}
body .wrapper #block_5 .container .jumbo_5 h1 sup {
  color: orange;
  font-size: 27px;
}
body .wrapper #block_5 .container .jumbo_5 p {
  color: #ACB1B4;
  text-align: center;
  font-size: 15px;
  margin-bottom: 70px;
}
body .wrapper #block_5 .container .jumbo_5 div {
  text-align: center;
}
body .wrapper #block_5 .container .jumbo_5 div a {
  border: 1px solid gray;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  border-color: #ff5274;
  border-radius: 27px;
  text-align: center;
  font-size: 13px;
  padding: 15px 40px 15px 40px;
  cursor: pointer;
  color: #ff5274;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
body .wrapper #block_5 .container .jumbo_5 div a:hover {
  background-color: #ff5274;
  color: white;
}
body .wrapper #block_5 .container .sketch-logo-div {
  margin: 0 auto;
  width: 230px;
}
body .wrapper #block_5 .container .sketch-logo-div img {
  animation: 3000ms floating_logo infinite alternate ease-in-out;
  position: absolute;
}
@keyframes floating_logo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
body .wrapper #block_6 {
  min-height: 607px;
  background-color: #F3F4F8;
}
body .wrapper #block_6 .container1 {
  padding: 210px 15px 50px 15px;
}
body .wrapper #block_6 .container1 .row div h1 {
  font-size: 25px;
}
body .wrapper #block_6 .container2 .row h2 {
  font-size: 15px;
}
body .wrapper #block_6 .container2 .row p {
  color: rgba(28, 54, 83, 0.6);
  line-height: 30px;
}
body .wrapper #block_7 {
  min-height: 544px;
  background-color: #F3F4F8;
  display: flex;
  align-items: flex-start;
  text-align: center;
}
body .wrapper #block_7 .container3 .row .col-md-4 div {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper #block_7 .container3 .row .col-md-4 div img {
  height: 251px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
body .wrapper #block_7 .container3 .row .col-md-4 div .hover-stuff {
  transform: scale(1.2);
  filter: opacity(40%);
}
body .wrapper #block_7 .container3 .row .col-md-4 div .feature-icon {
  position: absolute;
  top: 7px;
  right: 20px;
  opacity: 0;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
body .wrapper #block_7 .container3 .row .col-md-4 div .feature-icon [data-icon]:before {
  font-size: 16px;
  color: white;
  margin: 12px 23px 20px 10px;
  font-family: 'et-line';
  content: attr(data-icon);
  z-index: 300;
  cursor: pointer;
}
body .wrapper #block_7 .container3 .row .col-md-4 p a {
  text-decoration: none;
  color: rgba(28, 54, 83, 0.6);
}
body .wrapper #block_7 .container3 .row .col-md-4 p a span {
  font-size: 10px;
  right: -4px;
}
body .wrapper #block_7 .container3 .row .col-md-4 p .title {
  color: #ff5274;
  transition: all 500ms;
}
body .wrapper #block_7 .container3 .row .col-md-4 p .descr {
  transition: all 500ms;
}
body .wrapper #block_7 .container3 .row .col-md-4 p .descr:hover {
  color: #000;
}
body .wrapper #block_7 .container3 .row .col-md-4 p:nth-child(2) {
  padding-top: 39px;
  font-size: 11px;
  font-weight: bold;
}
body .wrapper #block_7 .container3 .row .col-md-4 p:last-child {
  padding-bottom: 39px;
}
body .wrapper #block_7 .container3 .row2_block7 {
  padding: 17px 0px 0px 0px;
}
body .wrapper #block_7 .container3 .row2_block7 .button-morenews {
  text-align: center;
}
body .wrapper #block_7 .container3 .row2_block7 .button-morenews a {
  border: 1px solid gray;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid;
  border-color: #ff5274;
  border-radius: 27px;
  text-align: center;
  font-size: 13px;
  padding: 11px 40px 11px 40px;
  cursor: pointer;
  color: #ff5274;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
body .wrapper #block_7 .container3 .row2_block7 .button-morenews a:hover {
  background-color: #ff5274;
  color: white;
}
body .wrapper #block_8 {
  min-height: 525px;
  background: url('../img/block_8-bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrapper #block_8 .container.slider {
  width: 1300px;
}
body .wrapper #block_8 .container.slider .carousel .carousel-indicators .active {
  border: 2px solid #fff;
  background-color: rgba(255, 255, 255, 0);
}
body .wrapper #block_8 .container.slider .carousel .carousel-indicators li {
  background-color: #5c5f6a;
  margin: 0 5px;
  height: 12px;
  width: 12px;
  border: none;
  transition: background-color 500ms;
}
body .wrapper #block_8 .container.slider .carousel .carousel-indicators li:hover {
  background-color: #fff;
}
body .wrapper #block_8 .container.slider .carousel .carousel-inner .item .no_use_bg_images {
  visibility: hidden;
}
body .wrapper #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption {
  padding-bottom: 50px;
}
body .wrapper #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption img {
  height: 100px;
  border-radius: 64px;
  border: 3px solid white;
}
body .wrapper #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption h1 {
  font-style: italic;
}
body .wrapper #block_8 .container.slider .carousel .carousel-inner .item .carousel-caption p {
  color: #ACB1B4;
}
body .wrapper #block_8 .container.slider .carousel .carousel-control {
  background-image: none;
  width: 7%;
  opacity: 0;
  transition: all 500ms;
}
body .wrapper #block_9 {
  min-height: 547px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper #block_9 .container {
  text-align: center;
}
body .wrapper #block_9 .container .row {
  display: flex;
  justify-content: center;
}
body .wrapper #block_9 .container .row .title_and_descr h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351;
}
body .wrapper #block_9 .container .row .title_and_descr p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px;
}
body .wrapper #block_9 .container .row .block_9_align .form-horizontal .form-group .input-group {
  margin: 0 auto 20px auto;
}
body .wrapper #block_9 .container .row .block_9_align .form-horizontal .form-group .input-group .input-group-addon {
  padding: 16px 19px;
  color: #ff5274;
  background-color: transparent;
  border: solid 1px #E6E9EA;
}
body .wrapper #block_9 .container .row .block_9_align .form-horizontal .form-group .input-group .form-control {
  padding: 24px 18px;
  border: solid 1px #E6E9EA;
  border-left: none;
}
body .wrapper #block_9 .container .row .block_9_align .form-horizontal .form-group .button-div button {
  border-radius: 2px;
  background-color: #ff5274;
  border: none;
  padding: 21px 16px;
  font-size: 12px;
  text-transform: uppercase;
}
body .wrapper #to-top-block {
  min-height: 60px;
  background-color: #495061;
  display: flex;
  justify-content: flex-end;
}
body .wrapper #to-top-block .cd-top {
  height: 60px;
  width: 67px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 150%;
  background: rgba(0, 0, 0, 0.15) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  -webkit-transition: all .3s 0s, visibility 0s .3s;
  -moz-transition: all .3s 0s, visibility 0s .3s;
  transition: all .3s 0s, visibility 0s .3s;
}
body .wrapper #to-top-block .cd-top:hover {
  background: rgba(0, 0, 0, 0.4) url(../img/cd-top-arrow.svg) no-repeat center 50%;
}
body .wrapper footer {
  min-height: 409px;
  background-color: #3D4351;
}
body .wrapper footer .footer-container .row {
  display: flex;
}
body .wrapper footer .footer-container .row .col-md-7 .footer-menu {
  margin-bottom: 25px;
}
body .wrapper footer .footer-container .row .col-md-7 .footer-menu div a {
  color: #fff;
  text-decoration: none;
  transition: color 500ms;
  font-size: 13px;
  text-transform: uppercase;
}
body .wrapper footer .footer-container .row .col-md-7 .footer-menu div a:hover {
  color: #ff5274;
}
body .wrapper footer .footer-container .row .col-md-7 .copyright p {
  color: #ACB1B4;
  font-size: 13px;
}
body .wrapper footer .footer-container .row .col-md-7 .copyright p .fa-heart {
  color: #ff415c;
  font-size: 14px;
  width: 20px;
  text-align: center;
  animation: 1s scaling_heart infinite alternate linear;
}
@keyframes scaling_heart {
  0% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
body .wrapper footer .footer-container .row .col-md-7 .copyright p a {
  color: #fff;
  text-decoration: none;
  transition: color 500ms;
}
body .wrapper footer .footer-container .row .col-md-7 .copyright p a:hover {
  color: #ff5274;
}
